<h2>GitRepositoriesController#index</h2>
<table>
<% for repo in @repositories do %>
	<tr>
		<td> <%= repo.remote_origin_url %> </td>
		<td> <%= repo.local_clone_path %> </td>
		<td> <%= button_to('Destroy', git_repository_path, method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
		
		</td>
	</tr>
<% end %>
</table>

<p><%= link_to "Add repository", new_git_repository_path %></p>